<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kit.c_learning.teacherapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Questionnaires" />
        <activity
            android:name=".Activity_Question"
            android:parentActivityName=".Questionnaires" />
        <activity
            android:name=".DemoActivity"
            android:parentActivityName=".Activity_Question" />
        <activity
            android:name=".YesNo_Chart"
            android:parentActivityName=".Activity_Question" />
        <activity android:name=".ChartActivity" />
        <activity android:name=".BarChart"></activity>
    </application>

</manifest>